body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(352deg, rgba(2, 0, 36, 1) 0%, rgba(60, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

table {
    border: #b2b2b2 1px solid;
    border-radius: 4px;
    width: 100px;
    margin: 0 auto;
}

td,
th {
    border: black 1px solid;
    border-radius: 4px;
}

input {
    border: 2px solid red;
    border-radius: 4px;
}

input,
label {
    padding-left: 0 auto;
    width: 10px;
    margin: 0 auto;
}